body {
    font-family: Arial, sans-serif;
    background: #383830;
    color: #E6E6E6;
    width: 75%;
    margin: 5%;
    padding: 1em;
}

a:link, a:visited {
    color: #89BDFF;
}

a:hover, a:active {
    color: #AE81FF;
}
